[submodule ".urxvt/ext/urxvt-perls"]
	path = .urxvt/ext/urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule ".urxvt/urxvt-perls"]
	path = .urxvt/urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
