packages: [
  "atom-beautify"
  "atom-language-rust"
  "atom-material-syntax"
  "atom-material-ui"
  "atom-python-run"
  "autocomplete-go"
  "autocomplete-paths"
  "autocomplete-python"
  "code-peek"
  "color-picker"
  "emmet"
  "file-icons"
  "firewatch-syntax"
  "git-time-machine"
  "go-config"
  "go-get"
  "highlight-line"
  "highlight-selected"
  "language-rust"
  "linter"
  "linter-python-pep8"
  "linter-rust"
  "merge-conflicts"
  "minimap"
  "minimap-cursorline"
  "minimap-highlight-selected"
  "open-recent"
  "package-sync"
  "pigments"
  "python-debugger"
  "python-indent"
  "python-tools"
  "racer"
  "remote-edit"
  "rust-api-docs-helper"
  "seti-ui"
  "Sublime-Style-Column-Selection"
  "todo-show"
]
